@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


html, body {
    height: auto;
    min-height: 100%;
    overflow-y: auto;
}

body {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-family: "IBM Plex Sans";
  background-color: #1E152A;
  color: #A7CCED;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0px 70px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.brand {
    text-decoration: none;
    color: #A7CCED;
    font-family: "Merriweather";
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 3px;
}

main {
    padding: 0px 70px;
}

.log-in-bttn, .sign-up-bttn, .new-message-bttn, .log-out-bttn, .upgrade-bttn {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}

.log-in-bttn:hover, .sign-up-bttn:hover, .new-message-bttn:hover, .log-out-bttn:hover, .upgrade-bttn:hover {
    transform: scale(1.05);
}

.log-in-bttn, .new-message-bttn{ 
    background-color: #315659;
    color: #A7CCED;
}

.sign-up-bttn, .log-out-bttn {
    background-color: #A7CCED;
    color: #315659;
}

.links {
    display: flex;
    gap: 20px;
}

.upgrade-bttn {
    background-color: #ffb703;
    color: #1E152A;
    font-weight: 700;
}

.upgrade-bttn:hover {
    transform: scale(1.05);
    background-color: #ffca3a;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}